version: '3.9'

services:
  web:
   build: .
   command: gunicorn carmarket.wsgi:application --bind 0.0.0.0:8000
   volumes:
    - .:/code
    - static_volume:/code/staticfiles
    - ./media:/code/media
   ports:
    - "8000:8000"
   env_file: .env
  
volumes:
  static_volume:
  media_volume: